.glass{
  border-radius:50%;
  background:rgba(0,0,0,0);
  border:2px solid transparent;
  box-shadow:0 0 0 2px rgba(255,255,255,.6),0 16px 32px rgba(0,0,0,.12);
  backdrop-filter: url(#frosted);
  display:grid; 
  place-items:center;
  cursor:pointer;
  outline:0;
  height: 275px;
  width: 275px;
}

@media screen and (max-width: 768px ){
  .glass{
    height: 250px;
    width: 250px;
  }
}

.glass::before {
  width: 50%;
  height: 50%;
  filter: blur(4);
}

.glassHeader, .glassFooter {
    backdrop-filter: url(#frosted);
    background-color: rgba(255,255,255, 0.75);
}



